* {
    font-family: "DotGothic16", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
main {
    height: 100vh;
    margin: 0;
}

body {
    background-image: url('../images/fundo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

main {
    background-color: #ffffffe0;
}

header {
    padding: 10px 20px 10px 20px;
}

p, h2 {
    margin: 0;
}

.mapa__item {
    cursor: pointer;
}

.result__section {
    display: flex;
    justify-content: center;
}

.result__section-item {
    min-height: 70px;
    font-size: 40px;
    width: 250px;
    max-width: 100%;
    position: absolute;
    top: 17vh;
    white-space: nowrap;
    overflow: hidden !important;
}

.calculator__section {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.calculator__image {
    border-style: none;
    position: inherit;
    top: 0px;
    left: 0px;
    max-height: 70vh;
    max-width: 90%;
}

.calculator__clear-btn {
    background-color: #515359;
    border-color: #616268;
    padding: 6px;
    border-radius: 9px;
    width: 200px;
    color: white;
    margin: 5px;
}