* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body, main {
    margin: 0;
    height: 100vh;
}

body {
    background-image: url('../images/fundo2.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
}

main {
    background-color: #ffffffe0;
}

header {
    padding: 10px 20px 10px 20px;
}

.header__description {
    font-size: 0.9em;
}

p, h1 {
    margin: 0;
}

.centralize {
    text-align: center;
}

.map__item {
    cursor: pointer;
}

.result__section {
    display: flex;
    justify-content: center;
}

.result__section-item {
    min-height: 70px;
    font-size: 40px;
    width: 250px;
    max-width: 100%;
    position: absolute;
    top: 23vh;
    white-space: nowrap;
    overflow: hidden !important;
    font-family: "DotGothic16", sans-serif;
}

.calculator__section {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.calculator__image {
    width: auto;
    height: auto;
    max-height: 70vh;
    max-width: 90%;
}

.calculator__clear-btn {
    background-color: #515359;
    border-color: #616268;
    padding: 6px;
    border-radius: 9px;
    width: 200px;
    color: white;
    margin: 5px;
}

footer {
    padding: 10px 0px 0px 0px;
}

footer img {
    margin-right: 5px;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.social {
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .result__section-item {
        top: 23vh;
    }


}